section {
  display: flex;
}
.navVert nav {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fff;
  background-color: black;
  padding: 10px 0;
  box-shadow: 0px 5px 0px #dedede;
}

.navVert nav.filler {
  margin-top: 5px;
  width: 300px;
  margin-left: 0px;
}
.navVert nav ul {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  justify-content: space-between;
}

.navVert nav ul .leftNavBar,
.navVert nav ul .rightNavBar {
  list-style: none;
  text-align: center;
}
.navVert nav ul li {
  display: flex;
  flex-direction: row;
}
.navVert nav ul li .link {
  display: flex;
  flex-direction: row;
  /* padding: 15px; */
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
.navVert nav ul li .link,
.navVert nav ul li .link:after,
.navVert nav ul li .link:before {
  transition: all .5s;
}
.navVert nav ul li .link:hover {
  color: #555;
}

nav.filler ul li .link {
  transition: all 2s;
}
nav.filler ul li .link:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.filler ul li .link:hover {
  color: #fff;
  z-index: 1;
}
nav.filler ul li .link:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
