section {
  display: flex;
}
/* .navVert nav {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #fff;
  background-color: black;
  padding: 10px 0;
  box-shadow: 0px 5px 0px #dedede;
} */

/* .navVert nav.filler {
  margin-top: 5px;
  width: 250px;
  margin-left: 0px;

  opacity:0;
  filter:alpha(opacity=0);
  position:relative;
  margin-bottom:-30px;
  z-index:10;


  -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

  height: 500px;
} */


/* .navVert nav.filler:hover {
  margin-top: 5px;
  width: 250px;
  margin-left: 0px;

  opacity:1;
  filter:alpha(opacity=70);


  -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

  height: 500px;
} */



.navVert nav ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  justify-content: space-between;
}

.navVert nav ul .leftNavBar,
.navVert nav ul .rightNavBar {
  list-style: none;
  text-align: center;
}
.navVert nav ul li {
  display: flex;
  flex-direction: row;
}
.navVert nav ul li .link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
.navVert nav ul li .link,
.navVert nav ul li .link:after,
.navVert nav ul li .link:before {
  transition: all .5s;
}
.navVert nav ul li .link:hover {
  color: #555;
}

nav.filler ul li .link {
  transition: all 2s;
}
nav.filler ul li .link:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.filler ul li .link:hover {
  color: #fff;
  z-index: 1;
}
nav.filler ul li .link:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}




/* slide nav bar - website*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #818181; */
  /* display: block; */
  transition: 0.3s;
}

.sidenav .link:hover {
  /* color: #f1f1f1; */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .link {font-size: 18px;}
}




/* corey */
.nav-container {
  position: fixed;
  width: 250px;
  top: 0;
  min-height: 100%;
  /* background: white; */
  opacity: 0.93;
  /* font-family: "Stardos Stencil", cursive; */
  /* font-size: 45px; */
  z-index: 100;
  /* grid-template-rows: 1fr 5fr; */
  display: none;
}

.slideInLeft {
  animation-duration: 0.5s;
  animation-name: leftSlideIn;
}

.slideOutLeft {
  animation-duration: 0.5s;
  animation-name: leftSlideOut;
}

@keyframes leftSlideIn {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes leftSlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}

.nav-close {
  color: white;
  transition: all 0.2s ease-in-out;
  /* display: inline-block; */
}
.nav-close:hover {
  cursor: pointer;
}

.nav-open {
  color: black;
  transition: all 0.2s ease-in-out;
}
.nav-open:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .skill-header {
    font-size: 50px;
  }
}
